<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh-cn">
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "wintercome/css/thunneycomb.1.css" %}">
        <title>{% block title %}<!--custom title-->{% endblock %}</title>
        {% block styles %}<!--custom styles-->{% endblock %}
    </head>
    <body>
    <a href="{% url 'wintercome:cmd_index_page' %}">Home</a>
        <div>
        {% block content %}<!--custom content-->{% endblock %}
        </div>


        {% block scripts %}<!--custom scripts-->{% endblock %}

    <a href="{% url 'wintercome:cmd_index_page' %}">Home</a>
    </body>
</html>