{% extends "wintercome/base.html" %}

{% block title %}
WinterCome Login
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thunneycomb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <form class="navbar-form navbar-right" action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Log Out</button>
          </form>
          {% else %}
          <form class="navbar-form navbar-right" action="{% url 'wintercome:login_page' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input placeholder="Email" class="form-control" type="text" value="username" name="username">
            </div>
            <div class="form-group">
              <input placeholder="Password" class="form-control" type="password" value="password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endif %}
        </div>
    </div>
</nav>

{% endblock %}