{% extends "wintercome/base.html" %}

{% block title %}
Task Dashboard
{% endblock %}

{% block content %}
<h1>CMD Run Results</h1>

<div id="task_info">
<h2>CMD info:</h2>
    <ul>
    <li>ID:{{task.id}}</li>
    <li>Title:{{task.title}}</li>
    <li>CMD:{{task.cmd}}</li>
    <li>Description: {{task.description}}</li>
    <li>Run Level: {{task.runlevel}}</li>
</ul>
</div>

<p>============</p>
<div id="return_content">
Status Code:{{code}}<br />
Return:<br />
    {% for line in result %}
    {{line}}<br />
    {% endfor%}

</div>

{% endblock %}