<{% extends "home/entrance_base.html" %}
{% load staticfiles %}

{% block body_content %}
    <div class="error-block">
        {% if error%}
        {{ error }}
        {% endif %}
    </div>
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <div class="search-block">
        <form action="." method="POST">
            {% csrf_token %}
        <input type="text" placeholder="UserID" id="userid" name="userid"/>
        <input type="password" placeholder="Password" id="passwd" name="password"/>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>
{% endblock %}